<mat-toolbar color="primary" class="text-center">
  Jogo da Memória
</mat-toolbar>

<div class="p-16">
  <p class="text-center">
    Clique em uma carta para virá-la. Você só pode virar duas cartas por vez.<br> Ao encontrar o par, as cartas serão removidas.
  </p>
  <div class="grid p-16">
    <!-- Estamos usando a diretiva *ngFor aqui para percorrer nosso array de cartões e criar
       muitos componentes de cartão de jogo no processo. Para cada um deles, enviamos o objeto
        CardData e especificamos o evento cardClicked para tratar o evento de saída de clique
         do componente. -->
    <app-game-card *ngFor="let c of cards; let idx=index" [data]="c" (cardClicked)="cardClicked(idx)">
    </app-game-card>
  </div>
</div>